@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F0F0F;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Scrollbar Hide */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0F0F0F; }
::-webkit-scrollbar-thumb { background: #333; rounded: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }
